body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}
